@import url(global.css);

header {
    display: flex;
    align-items: center;
    width: fit-content;
    justify-content: center;
    padding: 0rem;
    background-color: oklch(from var(--light) l c h / 0.75);
    backdrop-filter: blur(10px);
    border: 1px solid var(--gray);
    border-radius: 100px;
    position: fixed;
    padding: 0.5rem;
    padding-right: 1.5rem;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    gap: 1.5rem;
    height: fit-content;
    z-index: 999;

    .logo {
        width: 40px;
        height: 40px;
        /* margin-left: var(--p-body); */
        display: flex;
        align-items: center;
        gap: 0.5rem;
        background-color: var(--cl2);
        padding: 0.5rem;
        border-radius: 50%;
        flex-shrink: 0;
    }

    .logo h1 {
        font-size: 1.25rem;
        font-weight: bold;
    }

    .logo svg {
        width: 100%;
        height: 100%;
        flex-shrink: 0;
    }

    .logo svg path {
        fill: var(--light);
    }

    .menus {
        display: flex;
        align-items: center;
        height: 100%;
        font-size: 1.5rem;
        gap: 1rem;
        list-style: none;
        /* padding-right: var(--p-body); */
    }

    .menus .menu a {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        font-size: 1rem;
        color: var(--cl1);
    }

    .menus .menu span {
        width: 15px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        display: inline-block;
        background: var(--gray);
    }

    .menus .menu .active {
        background-color: var(--cl3);
    }

    .trigger-menu {
        display: none;
    }

    @media (max-width:1024px) {
        width: 100%;
        top: 0;
        border-radius: 0;
        height: 70px;
        padding-inline: 2rem;
        border: none;
        border-bottom: 1px solid var(--gray);
        justify-content: space-between;

        .trigger-menu {
            display: grid;
        }

        .logo {
            background-color: transparent;
            padding: 0;
        }

        .logo svg path {
            fill: var(--cl2);
        }

        .menus {
            position: fixed;
            top: 70px;
            flex-direction: column;
            align-items: flex-start;
            /* background-color: oklch(from var(--light) l c h / 0.75);
            backdrop-filter: blur(10px); */
            background-color: var(--cl2);
            height: calc(100vh - 70px);
            width: 100%;
            padding: 2rem;
            left: 0;
            display: none;
            gap: 2rem;
        }

        .menus.buka {
            display: flex;
        }

        .menus .menu a {
            color: var(--light);
            font-size: 1.5rem;
        }
    }
}

.section1 {
    width: 100%;
    height: 100svh;
    display: flex;
    flex-direction: column;
    padding: var(--p-body);
    justify-content: center;
    align-items: center;
    background: url(assets/ns-3.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--cl1);
    text-align: center;
    gap: 1rem;

    h1 {
        font-size: 6rem;
        font-weight: normal;
    }

    .con-hero-text {
        color: oklab(from var(--cl1) 0.25 a b);
        text-align: center;
        max-width: 400px;
    }

    a {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: var(--cl1) !important;
    }

    a span {
        background: var(--cl2);
        width: 30px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        color: var(--light);
        font-size: 1.25rem;
        display: grid;
        place-items: center;
    }
}

.section2 {
    display: flex;
    width: 100%;
    padding: var(--p-body);
    gap: var(--p-body);

    .con-sticky {
        width: fit-content;
        flex-shrink: 0;
        position: relative;
        gap: 1rem;
    }

    .con-sticky .profile {
        display: flex;
        width: 300px;
        height: calc(100vh - 2rem);
        flex-direction: column;
        position: sticky;
        top: 1rem;
        gap: 1rem;
        color: var(--cl1);
        border-radius: 1rem;
    }

    .profile h3 span {
        width: 30px;
        aspect-ratio: 1/1;
    }

    .profile a {
        color: var(--cl2);
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .profile .fi {
        padding: 0.5rem;
        background-color: var(--cl2);
        border-radius: 50%;
        color: var(--light);
    }

    .profile .con-img-prodi {
        padding: 1rem;
        background-color: var(--cl2);
        transform: translateX(-20%) translateY(0%);
        
    }

    .profile img {
        width: 100%;
        aspect-ratio: 1/1;
    
        transform: translateX(20%) translateY(0%);
    }

    .con-visi-misi {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

     h2 {
        font-size: clamp(1.5rem, 10vw, 2.5rem);
    }

    hr {
        border-color: var(--cl2);
    }

    .con-visi-misi h2:nth-child(4) {
        align-self: flex-end;
        text-align: end;
        width: 100%;
    }

    .con-visi-misi ol {
        padding-left: 1rem;
    }

    .sekilas {
        padding: 2rem;
        background-color: var(--cl2);
        color: var(--light);
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 1rem;
        border-radius: 1rem;
    }

    .sekilas a {
        color: var(--light);
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .sekilas a span {
        width: 30px;
        aspect-ratio: 1/1;
        background-color: var(--cl3);
        border-radius: 50%;
        display: grid;
        place-items: center;
        color: var(--cl2);
    }
}